nav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #000000;
    /* background: url("nav_background"); */
}

nav ul {
    margin: 0 auto;
    width: 940px;
    list-style: none;
}

nav ul li {
    float: left;
}
 
    nav ul li a {
        display: block;
        margin-right: 20px;
        width: 140px;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        color: rgb(189, 187, 187);
    }
 
        nav ul li a:hover {
            color: #fff;
        }
 
        nav ul li.selected a {
            color: #fff;
        }
 
        nav ul li.subscribe a {
            margin-left: 22px;
            padding-left: 33px;
            text-align: left;
            background: url("rss.png") left center no-repeat;
        }

        #intro {
            margin-top: 66px;
            padding: 44px;
            background: #467612 url("intro_background.png") repeat-x;
            background-size: 100%;
            border-radius: 22px;
        
            /* Background-size not implemented yet */
            -webkit-background-size: 50%;
            -o-background-size: 100%;
            -khtml-background-size: 100%;
         
            /* Border-radius not implemented yet */
            -moz-border-radius: 22px;
            -webkit-border-radius: 22px;
        }

        #intro h2, #intro p{
            width: 336px;
        }
         
        #intro h2 {
            padding: 0 0 22px 0;
            font-weight: normal
            color: #fff;
        }
         
        #intro p {
            padding: 0;
            color: #d9f499;
        }

        #content {
            display: table;
        }
         
            #mainContent {
                display: table-cell;
                width: 620px;
                padding-right: 22px;
            }
         
            aside {
                display: table-cell;
                width: 300px;
            }

            .blogPost div {
                column-count: 2;
                column-gap: 22px;
            }

            .blogPost {
                column-count: 2;
                column-gap: 22px;
                border-radius: 22px;  
                background: #4fffff url("intro_background.png") repeat-x;
                /*opacity: 0.5;*/
                opacity: 1;              
            }
             
                .blogPost header {
                    column-span: all;
                }

                .blogPost img {
                    margin: 22px 0;
                    box-shadow: 3px 3px 7px #777;
                }
    

                section#comments article:nth-child(1n+1) {
                    padding: 21px;
                    background: #E3E3E3;
                    border: 3px solid #d7d7d7;
                 
                    /* Border-radius not implemented yet */
                    -moz-border-radius: 11px;
                    -webkit-border-radius: 11px;
                }

                article {
                    margin: 5px;
                }