/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}
 
/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: flex;
}
 
body {
    margin: 0 auto;
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
}
 
h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
}
 
h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
}
 
p {
    padding-bottom: 22px;
}