/*
Error: Invalid CSS after "    .item-#{": expected expression (e.g. 1px, bold), was "$1} { width: 2e..."
        on line 506 of css/example.scss

501:   }
502:   
503:   // @for
504:   
505:   @for $i from 1 through 3 {
506:     .item-#{$1} { width: 2em * $i; }
507:   }
508:   
509:   @for $i from 1 to 3 {
510:     .item-#{$1} { width: 2em * $i; }
511:   }

Backtrace:
css/example.scss:506
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/script/lexer.rb:231:in `expected!'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/script/parser.rb:724:in `assert_expr'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/script/parser.rb:51:in `parse_interpolated'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1134:in `sass_script'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1047:in `interpolation'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1082:in `interp_ident'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:767:in `try_declaration'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:697:in `block_child'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:678:in `block'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:301:in `for_directive'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:209:in `directive'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/Woody/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/Users/Woody/.rbenv/versions/2.4.1/bin/sass:23:in `load'
/Users/Woody/.rbenv/versions/2.4.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    .item-#{\": expected expression (e.g. 1px, bold), was \"$1} { width: 2e...\"\A         on line 506 of css/example.scss\A \A 501:   }\A 502:   \A 503:   // @for\A 504:   \A 505:   @for $i from 1 through 3 {\A 506:     .item-#{$1} { width: 2em * $i; }\A 507:   }\A 508:   \A 509:   @for $i from 1 to 3 {\A 510:     .item-#{$1} { width: 2em * $i; }\A 511:   }"; }
